h2{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 3px 2px 0px #000;
    font-size: 18px;
    display: custom;
    text-align: left;
    padding-left: 70px;
    margin-bottom: 40px;
}