h1#name{
    font-family: 'Press Start 2P', sans-serif;
    color: #F25A70;
    text-shadow: 4px 3px 0px #641919;
    font-size: 25px;  
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
}